body {
    margin: 0%;
}

.senai-img {
    width: 280px;
}

.div-senai-img {
    text-align: center;
    background-color: #F28383;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav {
    background-color: #FECCCC;
    padding: 20px;
    text-align: center;
}

.botao-nav {
    background: #BB4848;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    color: white;
    border-radius: 19px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    border: none;
    transition: 0.5s ease;
}

.botao-nav:hover{
    background-color: #F47D7D;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
}

.cursos-div {
    background-color: white;
    border: 1px solid rgba(80, 80, 80, 0.3);
    border-radius: 10px;
    width: 450px;
    padding: 20px 30px;
    margin: 20px auto;
    margin-bottom: 40px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0px;
}

.tag {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: gray;
    border: 1px solid gray;
    padding: 3px 10px;
    background-color: white;
    border-radius: 20px;
    margin-right: 5px;
}

.descricao {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0, 0.8);
    letter-spacing: 1px;
    text-align: justify;
    font-size: 15px;
    font-weight: lighter;
}

.carga-hor {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.saiba-mais-button {
    background-color: #E30613;
    border: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 8px 90px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.5s ease;
}

.saiba-mais-button:hover {
    background-color: #990000;
}


footer {
    background-color: #b86060;
    padding-top: 25px;
    padding-bottom: 5px;
    text-align: center;
}

.texto-footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 3px;
}