body {
    margin: 0%;
}

.senai-img {
    width: 280px;
}

.div-senai-img {
    text-align: center;
    background-color: #F28383;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav {
    background-color: #FECCCC;
    padding: 20px;
    text-align: center;
}

.botao-nav {
    background: #BB4848;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    color: white;
    border-radius: 19px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    border: none;
    transition: 0.5s ease;
}

.botao-nav:hover{
    background-color: #F47D7D;
}

/* titulo */

.n1{
    margin: 0px;
    border-radius: 19px;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 40px;
    
}

/* noticia 1 */
.fundo1{
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 450px;
    margin: 30px auto;
    transition: 0.3s ease;
    box-shadow: 6px 6px 6px rgba(193, 193, 193, 0.5);
    cursor: pointer;
}

.fundo1:hover {
    background-color: rgba(236, 236, 236, 0.459);
}

.img1{
    width: 330px;
    border-radius: 20px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.fundo1:hover h4 {
    opacity: 1;
}

.fundo1:hover .text1 {
    opacity: 1;
}

.text1{
    letter-spacing: 1px;
    text-align: justify;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}




footer {
    background-color: #b86060;
    padding-top: 25px;
    padding-bottom: 5px;
    text-align: center;
}

.texto-footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 3px;
}